data/
logs/
.idea
*.iml
*.DS_Store
*.ipynb_checkpoints
# *.ipynb
*.csv
target
src/main/resources/result-archive.txt
src/main/resources/result.txt
.classpath
.project
.settings
docker_data
src/main/python/__pycache__/
*.obj
*.npy
*.html
